@inherits SelectBase
@if (Line == null)
{
    <div class="select @_allClass"><select>@ChildContent</select></div>
}
else
{
    <div class="select is-multiple @_allClass"><select multiple size="@(Line.Value)">@ChildContent</select></div>
}