<DocsComponent>
    <DocComponent Title="开始使用(Start)">
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Docs.Start))" Match="NavLinkMatch.All">开始使用(Overview)</NavLink></li>
    </DocComponent>
    <DocComponent Title="列(Column)">
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Columns.Column))">基础</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Columns.ColumnSize))">尺寸</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Columns.MobileColumn))">响应式列</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Columns.ColumnGap))">列间隙</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Columns.ColumnOption))">选项</NavLink></li>
    </DocComponent>

    <DocComponent Title="布局(Layout)">
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Layouts.Container))">容器(UIContainer)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Layouts.Level))">层次布局(UILevel)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Layouts.Media))">媒体对象(UIMedia)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Layouts.Hero))">巨幕(UIHero)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Layouts.Section))">节(UISection)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Layouts.Footer))">页脚(UIFooter)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Layouts.Tile))">二维布局(UITile)</NavLink></li>
    </DocComponent>

    <DocComponent Title="表单(Form)">
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/FormStart")">表单控件(Form)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Forms.Input))">文本框(UIInput)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Forms.Textarea))">文本域(UITexteara)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Forms.Select))">选择框(UISelect)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Forms.Checkbox))">复选框(UICheckbox)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Forms.Radio))">单选框(UIRadio)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Forms.File))">文件选择框(UIFile)</NavLink></li>
    </DocComponent>

    <DocComponent Title="元素(Element)">
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Elements.Box))">盒子(UIBox)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Elements.Button))">按钮(UIButton)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Elements.Content))">文本容器(UIContent)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Elements.Delete))">删除按钮(UIDelete)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Elements.Icon))">图标(UIIcon)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Elements.Image))">图片(UIImage)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Elements.Alert))">通知(UIAlert)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Elements.Bar))">进度条(UIBar)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Elements.Table))">表格(UITable)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Elements.Tag))">标签(UITag)</NavLink></li>
    </DocComponent>

    <DocComponent Title="组件(Component)">
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Coms.Breadcrumb))">面包屑导航(UIBreadcrumb)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Coms.Card))">卡片(UICard)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Coms.DropDown))">下拉框(UIDropdown)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Coms.Menu))">菜单(UIMenu)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Coms.Message))">消息(UIMessage)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Coms.Modal))">模态框(UIModal)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Coms.Navbar))">导航条(UINavbar)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Coms.Panel))">面板(UIPanel)</NavLink></li>
        <li><NavLink class="is-link" href="@(nameof(Doc)+"/"+nameof(Pages.Coms.NavTag))">导航标签(UINavTag)</NavLink></li>
    </DocComponent>
</DocsComponent>