@page "/Mod/Assist"
<div class="bd-content">
    <div class="content">
        <header class="bd-header">
            <div class="bd-header-titles">
                <div class="bd-header-titles">
                    <h1 class="title">辅助类</h1>
                    <p class="subtitle is-4">想要修改元素的样式，就给他应用&nbsp;<strong>辅助类</strong>。辅助类型存放于 <code>CZGL.BlazorUI.UIEnum</code> 命名空间中，类型使用 UIE 开头。</p>
                </div>
               <br />
                <div class="bd-content">
                    <table class="table is-bordered">
                        <tbody>
                            <tr>
                                <th>枚举类型</th>
                                <td><code>枚举值</code></td>
                                <td>说明</td>
                            </tr>
                            <tr>
                                <th rowspan="3">@nameof(UIEFloat)</th>
                                <td><code>@nameof(UIEFloat.Fix)</code></td>
                                <td>重置此元素的所有浮动子元素</td>
                            </tr>
                            <tr>
                                <td><code>@nameof(UIEFloat.Left)</code></td>
                                <td>浮动一个元素到左边</td>
                            </tr>
                            <tr>
                                <td><code>@nameof(UIEFloat.Right)</code></td>
                                <td>浮动一个元素到右边</td>
                            </tr>
                            <tr>
                                <th rowspan="2">@nameof(UIESpacing)</th>
                                <td><code>@nameof(UIESpacing.Margin)</code></td>
                                <td>移除所有的&nbsp;<strong>margin</strong></td>
                            </tr>
                            <tr>
                                <td><code>@nameof(UIESpacing.Padding)</code></td>
                                <td>移除所有的&nbsp;<strong>padding</strong></td>
                            </tr>
                            <tr>
                                <th rowspan="9">@nameof(UIEAssistOther)</th>
                                <td><code>@nameof(UIEAssistOther.Overlay)</code></td>
                                <td>完全覆盖上一层定位的父元素</td>
                            </tr>
                            <tr>
                                <td><code>@nameof(UIEAssistOther.Clipped)</code></td>
                                <td>隐藏 溢出部分</td>
                            </tr>
                            <tr>
                                <td><code>@nameof(UIEAssistOther.RadiusLess)</code></td>
                                <td>移除任何&nbsp;<strong>radius</strong></td>
                            </tr>
                            <tr>
                                <td><code>@nameof(UIEAssistOther.ShadowLess)</code></td>
                                <td>移除任何&nbsp;<strong>shadow</strong></td>
                            </tr>
                            <tr>
                                <td><code>@nameof(UIEAssistOther.UnSelectable)</code></td>
                                <td>禁止文本&nbsp;<strong>选择</strong></td>
                            </tr>
                            <tr>
                                <td><code>@nameof(UIEAssistOther.Invisible)</code></td>
                                <td>Adds visibility&nbsp;<strong>hidden</strong></td>
                            </tr>
                            <tr>
                                <td><code>@nameof(UIEAssistOther.Hidden)</code></td>
                                <td>隐藏元素</td>
                            </tr>
                            <tr>
                                <td><code>@nameof(UIEAssistOther.SrOnly)</code></td>
                                <td>隐藏元素&nbsp;<strong>显示</strong>&nbsp;但是依然可以被屏幕阅读器识别</td>
                            </tr>
                            <tr>
                                <td><code>@nameof(UIEAssistOther.Relative)</code></td>
                                <td>给元素应用&nbsp;<code>position: relative</code></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </header>
    </div>
</div>