@page "/Mod/AssistColor"
<div class="bd-content">
    <div class="content">
        <header class="bd-header">
            <div class="bd-header-titles">
                <header class="bd-header">
                    <div class="bd-header-titles">
                        <div class="bd-content">
                            <h3 id="文本颜色-text-color" class="title is-4 is-spaced bd-anchor-title"><span class="bd-anchor-name">文本颜色(Text color)</span></h3>
                            <div class="content">
                                <p>@nameof(UIETextColor) 枚举用来表示了文本颜色的选择。</p>
                                <p>你可以给任意元素使用一下&nbsp;<strong>9 种颜色</strong>&nbsp;或&nbsp;<strong>9 灰度</strong>:</p>
                            </div>
                            <table class="table is-bordered">
                                <thead>
                                    <tr>
                                        <th>枚举</th>
                                        <th>对应颜色</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>@nameof(UIETextColor.White)</code></td>
                                        <td><span class="hasi-text-white" style="width:50px;height:50px;">测试</span></td>
                                    </tr>
                                    <tr>
                                        <td><code>@nameof(UIETextColor.Black)</code></td>
                                        <td><button class="hasi-text-black" style="width:50px;height:50px;" ></button></td>
                                    </tr>
                                    <tr>
                                        <td><code>@nameof(UIETextColor.Light)</code></td>
                                        <td><button class="hasi-text-light" style="width:50px;height:50px;"></button></td>
                                    </tr>
                                    <tr>
                                        <td><code>@nameof(UIETextColor.Dark)</code></td>
                                        <td><button class="has-text-dark"></button></td>
                                    </tr>
                                    <tr>
                                        <td><code>@nameof(UIETextColor.Primary)</code></td>
                                        <td><button class="has-text-primary"></button></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-info</code></td>
                                        <td><code>hsl(204, 86%, 53%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-link</code></td>
                                        <td><code>hsl(217, 71%, 53%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-success</code></td>
                                        <td><code>hsl(141, 71%, 48%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-warning</code></td>
                                        <td><code>hsl(48, 100%, 67%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-danger</code></td>
                                        <td><code>hsl(348, 100%, 61%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-black-bis</code></td>
                                        <td><code>hsl(0, 0%, 7%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-black-ter</code></td>
                                        <td><code>hsl(0, 0%, 14%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-grey-darker</code></td>
                                        <td><code>hsl(0, 0%, 21%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-grey-dark</code></td>
                                        <td><code>hsl(0, 0%, 29%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-grey</code></td>
                                        <td><code>hsl(0, 0%, 48%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-grey-light</code></td>
                                        <td><code>hsl(0, 0%, 71%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-grey-lighter</code></td>
                                        <td><code>hsl(0, 0%, 86%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-white-ter</code></td>
                                        <td><code>hsl(0, 0%, 96%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-text-white-bis</code></td>
                                        <td><code>hsl(0, 0%, 98%)</code></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr class="hr" />
                            <h3 id="背景色-background-color" class="title is-4 is-spaced bd-anchor-title"><span class="bd-anchor-name">背景色(Background color)</span><a class="bd-anchor-link" href="https://bulma.zcopy.site/documentation/modifiers/color-helpers/#%E8%83%8C%E6%99%AF%E8%89%B2-background-color">#</a></h3>
                            <div class="tags has-addons">
                                <span class="tag">Since</span>
                                <span class="tag is-info">0.7.0</span>
                            </div>
                            <div class="content">
                                <p>你可以给任意元素使用一下&nbsp;<strong>9 种颜色</strong>&nbsp;或&nbsp;<strong>9 灰度</strong>:</p>
                            </div>
                            <table class="table is-bordered">
                                <thead>
                                    <tr>
                                        <th>Class</th>
                                        <th>Background color</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><code>has-background-white</code></td>
                                        <td><code>hsl(0, 0%, 100%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-black</code></td>
                                        <td><code>hsl(0, 0%, 4%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-light</code></td>
                                        <td><code>hsl(0, 0%, 96%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-dark</code></td>
                                        <td><code>hsl(0, 0%, 21%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-primary</code></td>
                                        <td><code>hsl(171, 100%, 41%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-info</code></td>
                                        <td><code>hsl(204, 86%, 53%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-link</code></td>
                                        <td><code>hsl(217, 71%, 53%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-success</code></td>
                                        <td><code>hsl(141, 71%, 48%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-warning</code></td>
                                        <td><code>hsl(48, 100%, 67%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-danger</code></td>
                                        <td><code>hsl(348, 100%, 61%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-black-bis</code></td>
                                        <td><code>hsl(0, 0%, 7%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-black-ter</code></td>
                                        <td><code>hsl(0, 0%, 14%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-grey-darker</code></td>
                                        <td><code>hsl(0, 0%, 21%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-grey-dark</code></td>
                                        <td><code>hsl(0, 0%, 29%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-grey</code></td>
                                        <td><code>hsl(0, 0%, 48%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-grey-light</code></td>
                                        <td><code>hsl(0, 0%, 71%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-grey-lighter</code></td>
                                        <td><code>hsl(0, 0%, 86%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-white-ter</code></td>
                                        <td><code>hsl(0, 0%, 96%)</code></td>
                                    </tr>
                                    <tr>
                                        <td><code>has-background-white-bis</code></td>
                                        <td><code>hsl(0, 0%, 98%)</code></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h1 class="title">&nbsp;</h1>
                    </div>
                </header>
            </div>
        </header>
    </div>
</div>